*{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    margin: auto;
}
body{
    background-color: rgba(94, 151, 151, 0.144);
    text-align: justify;
    font-family: Helvetica;
}
h1{
    color: rgba(8, 8, 85, 0.911);
    text-align: center;
    padding-top: 1%;
    margin: 1%;
}
#entrada{
    border-radius: 10%;
    padding: auto;
}
#imagemmapa{
    border-radius: 5%;
}
#imagem0{
    border-radius: 5%;
}
#imagem1{
    border-radius: 5%;
}
#imagem2{
border-radius: 5%;
}
#imagem3{
    border-radius: 5%;
}
#imagem4{
    border-radius: 5%;
}
#imagem5{
    border-radius: 5%;
}
#educação{
    border-radius: 5%;
}
.tema1{
    text-align: center;
}
.tema2{
    text-align: center;
}
.tema3{
    text-align: center;
}
.tema4{
    text-align: center;
}
.tema5{
    text-align: center;
}
.tema6{
    padding-left: 10%;
}
.tema7{
    text-align: center;
}
.container{
display: flex;
}
    .texto-local{
        color: rgb(19, 2, 2);
        text-align: center;
        border: 2px saddlebrown;
        background-color: rgb(175, 39, 15);
        font-family: Helvetica;
    }
    .texto2{
        margin-top: 2%;
        font-family: Helvetica;
    }
    .texto3{
        margin-top: 1%;
        font-family: Helvetica;
    }
    p{
        text-align: justify;
        color: rgb(19, 2, 2);
        padding: 0;
        font-family: Helvetica;
    }
    h2{
        border: 2px saddlebrown;
    }
    footer{
        padding: 20px;
        border-top: 1px solid #666;
        margin-top: 20px;
    }
   
    
    